<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'My message board' }) %>

    <body>
        <%- include('../partials/header') %>
            <ul>
                <% messages.forEach((msg, index)=> { %>
                    <li>
                        <h3>
                            <%= msg.text %>
                        </h3>
                        <h4>from: <%= msg.user %>
                        </h4>
                        <h5>added: <%= msg.added %>
                        </h5>
                        <a href=<%- `/msg/${index}` %>>open</a>

                    </li>
                    <% }) %>
            </ul>
    </body>

</html>